img{
    text-align: center;
    width: 1500px;
    height: 1000px;  
}

.figuresSOne{
    display: flex;
    padding-top: 50px;
    justify-content:space-around;
    
}

figure{
    border-radius: 100%;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
}

figure i{   
    font-size: 50px;
    margin-bottom: 150px;
    position: relative;
    top: 85px;
}

figure figcaption{
    color: black;
    font-weight: 500;
    font-size: large;
}

#fOne{
    color: #aa7eec;
    background-color: #ebe7fa;
}

#fTwo{
    color: #19ca94;
    background-color: #daf4ef;
}

#fThree{
    color: #ff556e;
    background-color: #f8e5ea;
}

#fFour{
    color: #ffb30f;
    background-color: #f8f1de;
}

#fFive{
    color: #4fb9e8;
    background-color: #e1f2fa;
}
